/* Reset in browser styles to null */
/* Written from ground up by Jonathan Knight  */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Source from orignal Urban-octo-telegram 
Source file link: https://github.com/coding-boot-camp/urban-octo-telegram */

body {
    background-color: #d9dcd6;
}

/* Header link code Source above */

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 20px;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
} 

/* styling for header links */

.toplink {
    color:#ffffff;
    float: right;
}

/* removing html link styling from in page links */

a {
    text-decoration: none;
}

/* formatting link list */

li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    padding-top: 15px;
}

/* aligning company header text to the left */

.listlink {
    text-align: right;
    
}
/* controls for large image files so it can be displayed on different medias */
.background-image {
    display: block;
    max-width: 100%;
    margin-bottom: 25px;
}

.seo {
    color: #d9dcd6;
}

.toplabel {
    font-size: 48px;
    color:#ffffff;
    float:left
}

/* styling for bottom lefts rows content */

.content {
    width: 75%;
    display: inline-block;
    padding-left: 20px;
}

/* Styling of subheaders in blocks below first image */

h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #ffffff;
}

/* Text styling in paragraps */
p {
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 20px;
}

/* styling for smaller images in left rows */

.image-seo {
    float: left;
    max-height: 200px;
    object-fit: scale-down;
    padding-right: 15px;
}

/* styles rules for left blue boxes in rows */

.seo-block {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb; 
}

/* styling for bottom right bar content */

.right-bar-content {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    display: inline-block;   
    padding-top: 20px;
}

/* style for headers on colums */

h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 20px;
}

/* styling for graphical icons on right hand column */

.graphic {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}